# How can you concatenate two tuples?

In [1]:
tup1 = (1, 'a', True)
tup2 = (4, 5)

tup1 + tup2

(1, 'a', True, 4, 5)

# 8. How can you initialize a 5*5 numpy array with only zeroes?

In [4]:
import numpy as np

np.zeros([5, 5])

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

# What does PANDAS stand for?

Ans: Python Data Analysis Library

# What are dataframes?

In [6]:
# Pandas dataframe is a datastructure in Pandas which is mutable. Pandas has support for heterogeneous data which is arranged
# in rows & columns.

import pandas as pd

df = pd.read_csv('../population_by_country_2020.csv')
df

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

# What is Pandas series?

In [9]:
# It is an one-dimensional datastructure which may hold data of any data-type

ser = pd.Series([1, 2, True, 'Deb'])
print(ser)
print(type(ser))

0       1
1       2
2    True
3     Deb
dtype: object
<class 'pandas.core.series.Series'>

# How can you insert an element at a given index in Python?

In [10]:
#Using in-built insert function

l = [2, 3, 6, 8, 19, 17]

l.insert(4, 15) # Inserting 15 at index 4

print(l)

[2, 3, 6, 8, 15, 19, 17]

# How will you remove duplicate elements from a list?

In [11]:
# push the list into the set function

l1 = [ 4, 7, 8, 9, 4, 17, 19, 100, 9]

print(set(l1))

{4, 100, 7, 8, 9, 17, 19}

# What is the bytes() function?

In [17]:
# bytes() function is used for convert any object into bytes object which cannot be modified. However, bytearay returns an
# object which can be returned further.

name = 'Deb'

print(bytes(name, 'UTF-8'))
print(bytearray(name, 'UTF-8'))

b'Deb'
bytearray(b'Deb')

# What is the ‘with statement’?

In [20]:

#Without 'With' statement

file = open('my_file.txt', 'r')
content = file.read()
print(content)
file.close()

#Using 'With' statement

with open('my_file.txt', 'r') as file:
    content = file.read()
    print(content)
    

#In the second case, the code looks much more compact and we dont need to close file explicitly. Additionally with statements
# handle any exceptions which might occur during file handling.

Deb here
Deb here

# What is frozenset?

In [26]:
# frozenset() is a built-in function which takes an iterable object as input and makes it immutable.

l2 = [i for i in range(1, 5)]
print(l2)

l2[2] = 8
print(l2)

fs = frozenset(l2)
print(fs)
fs[2] = 5

[1, 2, 3, 4]
[1, 2, 8, 4]
frozenset({8, 1, 2, 4})

TypeError: 'frozenset' object does not support item assignment

# What is docstring in Python?

In [28]:
# Python docstrings are the string literals that are enclosed in triple quotes that appear right after the definition of a
# function, method, class or module. This is generally used to describe the functionality. It can be accessed __doc__ attribute.

def square(num):
    '''This function returns the square of a given number'''
    return num ** 2


print(square(2))
print(square.__doc__)

4
This function returns the square of a given number

# If you have a list like this -> [1,”a”,2,”b”,3,”c”]. How can you access the 2nd, 4th and 5th elements from this list?

In [30]:
idx = (1, 3, 4)
l3 = [1, "a", 2, "b", 3, "c"]

for i in idx:
    print(l3[i])

a
b
3

# If you have a list like this -> [“sparta”,True,3+4j,False]. How would you reverse the elements of this list?

In [35]:
a = ["sparta",True,3+4j,False]

a.reverse() # if want to make the change in the actual object

print(a)

[False, (3+4j), True, 'sparta']

# If you have dictionary like this – > fruit={“Apple”:10,”Orange”:20,”Banana”:30,”Guava”:40}. How would you update the value of ‘Apple’ from 10 to 100?

In [37]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}

fruit['Apple'] = 100

print(fruit)

{'Apple': 100, 'Orange': 20, 'Banana': 30, 'Guava': 40}

# If you have two sets like this -> s1 = {1,2,3,4,5,6}, s2 = {5,6,7,8,9}. How would you find the common elements in these sets.

In [38]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s1.intersection(s2)

{5, 6}

# Print the following pattern:

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [44]:
for i in range(6):
    for j in range(i):
        print(j, end = ' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

# Print the following pattern

#
# #
# # #
# # # #
# # # # #

In [45]:
for i in range(6):
    for j in range(i):
        print('#', end = ' ')
    print()

#
# #
# # #
# # # #
# # # # #

# Write a python program to print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [46]:
for i in range(1, 6):
    for j in range(i):
        print(i, end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Write a python program to check if the number given is a palindrome or not

In [51]:
num = int(input('Enter any number : '))

#Method 1
if(num > 0):
    if(str(num) == str(num)[::-1]):
        print('Palindrome')
    else:
        print('Not Palindrome')

else:
    print('Not a valid number')
    

print('\n')

#Method 2

rev =  0
temp = num

while(num > 0):
    dig = num % 10
    rev = rev * 10 + dig
    num = num // 10

if (rev == temp):
    print('Palindrome')
else:
    print('Not a Plaindrome')

Enter any number : 121
Palindrome


Palindrome