In [1]:
# Q. ​ Declare a float value and store it in a variable.Check the type and print the id of the same. 

sample_float = 2.44

print(type(sample_float))
print(id(sample_float))

<class 'float'>
2001410923344

In [4]:
# Q.​  ​ Arithmetic Operations on float
# Take two different float values.
# Store them in two different variables. 
# Do below operations on them:-
#    ​ Find sum of both numbers 
#    ​ Find difference between them
#    ​ Find the product of both numbers. 
#    ​ Find value after dividing first num with second number
#    ​ Find the remainder after dividing first number with second number
#    ​ Find the quotient after dividing first number with second number 
#    ​ Find the result of the first num to the power of the second number.

num1 = 4.887
num2 = 2.16

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 % num2)
print(num1 // num2)
print(num1 ** num2)

7.047
2.7269999999999994
10.55592
2.2624999999999997
0.5669999999999993
2.0
30.784453790868092

In [5]:
# Q.​  Comparison Operators on float
# Take two different float values.
# Store them in two different variables. 
# Do below operations on them:-
#    Compare these two numbers with below operator:-
#        Greater than, '>' 
#  Smaller than, '<'
#  Greater than or equal to, '>=' 
#  Less than or equal to, '<='
# Observe their output(return type should be boolean) 

num3 = 5.979
num4 = 3.12

print(num3 > num4)
print(num3 < num4)
print(num3 >= num4)
print(num3 <= num4)

True
False
True
False

In [6]:
# Q.​  ​ Equality Operator
# Take two different float values.
# Store them in two different variables. 
# Equate them using equality operators (==, !=)
# Observe the output(return type should be boolean) 

num5 = 63.99
num6 = -355.99

print(num5 == num6)
print(num5 != num6)

False
True

In [9]:
# Q.​  Logical operators
# Observe the output of below code
# Cross check the output manually 

# print​ (​ 10.20​  ​ and​  ​ 20.30​ )       #both are true and second value taken
# >Output is 20.3
 
# print​ (​ 0.0​  ​ and​  ​ 20.30​ )         #First is false so first valuetaken->Output is 0.0 
# print​ (​ 20.30​  ​ and​  ​ 0.0​ )         #Goes to till second and second value isfalse so second is taken>Output is 0.0 

# print​ (​ 0.0​  ​ and​  ​ 0.0​ )           #First is false so first value is 
# taken->Output is 0.0
 
# print​ (​ 10.20​  ​ or​  ​ 20.30​ )        #First is True so first value is
# taken>Output is 10.2 

# print​ (​ 0.0​  ​ or​  ​ 20.30​ )          #Goes to till second and second is true
# second value is taken->Output is 20.3
 
# print​ (​ 20.30​  ​ or​  ​ 0.0​ )          #First is True so first value is
# taken->Output is 20.3 

# print​ (​ 0.0​  ​ or​  ​ 0.0​ )            #Goes to till second and second is also
# false and second value is taken>Output is 0.0
 
# print​ (​ not​  ​ 10.20​ )             #-Not of true is false->Output is False 
# print​ (​ not​  ​ 0.0​ )               #Not of false is True>Output is True


print(10.20 and 20.30)
print(0.0 and 20.30)
print(20.30 and 0.0)
print(0.0 and 0.0)

#Ans: If A is false then (A and B) is A else B. That's the basis of the output for the above statements.

print(10.20 or 20.30)
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)

#Ans: If A is true then (A or B) is A else B. That's the basis of the output for the above statements.

print(not 10.20)
#Ans: 10.20 is true, not true means false

print(not 0.0)
#Ans: 0.0 is false, not false means true

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [20]:
# Q.​  What is the output of expression inside print statement. Cross checkbefore running the program.
# a = ​ 10.20 
# b - ​ 10.20
# print​ (a ​ is​  b)          #True or False? True 10.20<256
# print​ (a ​ is​  ​ not​  b)      #True or False? False 
# Why the Id of float values are different when the same value is
# assigned to two different variables 
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable
# having float i.e. a=c then both a and c's Id are same 

#Ans: print statement prints the output of the expression onto a stream or sys.stdout stream by default

a = 10.20
b = -10.20

print(a is b)
print(a is not b)

print(id(a))
print(id(b))

#Ans: The id of these float variables are diferent because object reusability is not applicable for float datatype.

False
True
2001433617392
2001433617936

In [22]:
# Q.​  Bitwise operation is not applicable between instances of float.Why the Id of float values are different when the same value isassigned to two different variables 
# ex: a = 10.5 b=10.5. but id will be same if I assign the variablehaving float i.e. a=c then both a and c's Id are same 
# Object reusability concept is not applicable on float values.

a = 10.5
b = 10.5

print(a is b)
print(a is not b)

print(id(a))
print(id(b))

#Ans: The id of these float variables are diferent because object reusability is not applicable for float datatype.

c = a

print(id(c))

#id of c is same as a because both are pointing to the same memory location.

False
True
2001433616784
2001433617936
2001433616784

In [19]:
# Q.​  Membership operation
# in, not in are two membership operators and it returns boolean value

# print​ (​ '2.7'​  ​ in​  ​ 'Python2.7.8'​ )              #True 
# print​ (​ 10.20​  ​ in​  [​ 10​ ,​ 10.20​ ,​ 10​ +​ 20j​ ,​ 'Python'​ ]) #True
# print​ (​ 10.20​  ​ in​  (​ 10​ ,​ 10.20​ ,​ 10​ +​ 20j​ ,​ 'Python'​ )) # True
# print​ (​ 20.30​  ​ in​  {​ 1​ ,​ 20.30​ ,​ 30​ +​ 40j​ })           # True 
# print​ (​ 2.3​  ​ in​  {​ 1​ :​ 100​ , ​ 2.3​ :​ 200​ , ​ 30​ +​ 40j​ :​ 300​ }) # True
# print​ (​ 10​  ​ in​  ​ range​ (​ 20​ ))                     # True 


print('2.7' in 'Python2.7.8')
print(10.20 in [10, 10.20, 10+20j, 'Python'])
print(10.20 in (10, 10.20, 10+20j, 'Python'))
print(20.30 in {1, 20.30, 30+40j})
print(2.3 in {1:100, 2.3:200, 30+40j:300})
print(10 in range(20))

True
True
True
True
True
True